<h2 class="loginHeading">Login to Your Account</h2>

<form [formGroup]="loginFormGroup" #myloginform= 'ngForm' (ngSubmit)="onSubmit(loginFormGroup)" class="loginFormGroup">
    <div>
        <label for="username">Username: </label>
        <input type="text" id="username" name="username" formControlName="username">
    </div>

    <div>
        <label for="password">Password: </label>
        <input [type]= "textFieldTypeisPass ? 'password' : 'text'" id="password" name="password" formControlName="password">
        <i (click)="toggle()" class="passHideShowToggle">{{passHideShow}}</i>
    </div>

    <p style="color: red;" *ngIf="incorrectCredentials && myloginform.submitted">Please enter correct credentials.</p>

    <button type="submit" [disabled]="!loginFormGroup.valid">Login</button>
    

</form>
